Python Operators

1. Arithmetic operators
    
2. Comparison (Relational) operators

3. Logical (Boolean) operators

4. Bitwise operators

5. Assignment operators

6. Special operators

In [3]:
myInt1, myInt2=10,20
print(myInt1+myInt2)
print(myInt1-myInt2)
print(myInt1*myInt2)
print(myInt1/myInt2)
print(myInt1//myInt2)
print(myInt1**myInt2)
print(myInt1%myInt2)

30
-10
200
0.5
0
100000000000000000000
10

In [4]:
print(myInt1<myInt2)
print(myInt1<=myInt2)
print(myInt1>myInt2)
print(myInt1>=myInt2)
print(myInt1==myInt2)
print(myInt1!=myInt2)

True
True
False
False
False
True

In [7]:
myBool1,myBool2=True,False
print(myBool1 and myBool2)
print(myBool1 or myBool2)
print(not myBool2)

False
True
True

In [9]:
age = 40

age += 4        # Add AND  <- age = age + 4
print(age)

age -= 7        # Subtract AND (-=)
print(age)

age *= 4        # Multiply AND (*=)
print(age)

age /= 4        # Divide AND (/=)
print(age)

age %= 20       # Modulus AND (%=)
print(age)

age //= 4       # Floor Division (//=)
print(age)

age **= 4       # Exponent AND (**=)
print(age)

44
37
148
37.0
17.0
4.0
256.0

In [10]:
variable1 = 20
variable2 = 20
print(variable1 is variable2)            # 20 is created once & both variable1 and variable2 points to same object

#check is not
print(variable1 is not variable2)

True
False

In [11]:
variable3 = "String1"
variable4 = "String1"
print(variable3 is variable4)            # 20 is created once & both variable1 and variable2 points to same object

#check is not
print(variable3 is not variable4)

True
False

In [15]:
myList1 = [1,2,3]
myList2 = [1,2,3]

print(myList1 is myList2)
print(myList1 is not myList2)
print(myList1 == myList2)
print(myList1[0] is myList2[0])

False
True
True
True

In [17]:
myList3 = ['a', 22, 'b', 100]
print(22 in myList3)                  # Check if 22 is present in the given list or not

print('d' in myList3)

True
False

In [18]:
myDictionary = {125 : 'Apple', 200 : 'Banana'}
print(125 in myDictionary)

True

In [19]:
print("Apple" in myDictionary)

False

In [20]:
number = 20

if number<15:
    print('Number is less than 15')
print('Outside if block')

Outside if block

In [25]:
number = 20

if number<15:
    print('Number is less than 15')
else:
    print('Number is greater than 15')
print('Outside if block')

Number is greater than 15
Outside if block

In [33]:
age=15
if age<20 and age>10:
    print("Teen")
elif age>=20:
    print("Adult")
elif(age<10):
    print("Child")

Teen

In [38]:
myList=[1,2,10,19,"String1"]
index=0
while(index<len(myList)):
    print(myList[index])
    #index++
    index+=1

1
2
10
19
String1

Factorial Number

In [40]:
userInput = input("Enter a positive non-zero number: ")
number = int(userInput)

if number <= 0:
    print('Invalid number please re-enter')
    userInput = input("Enter a positive non-zero number: ")
    number = int(userInput)
    
else:
    print('Thank you, let me share the result with you')

fact = 1
if number > 0:
    while number > 0:
        fact *= number                                      # fact = fact * number
        number -= 1                                         # number = number -1
    print('The factorial of the number is: ', fact)

Enter a positive non-zero number:  -10

Invalid number please re-enter

Enter a positive non-zero number:  -10

For Loop

In [41]:
myLits11=[1,29.38,39,17]
for i in range(len(myLits11)):
    print(myLits11[i])

1
29.38
39
17

In [42]:
# Print range numbers from 0 to 40 but with step size of 12
for element in range(1,40,3):
    print(element)

1
4
7
10
13
16
19
22
25
28
31
34
37

In [45]:
inputNumber = input("Please enter a positive number: ")
number = int(inputNumber)
listOfDivisors = [1]

for divisor in range(2,int(number/2)+1):               # divisor -> 2.3.4.5.6.7.8....... int(num/2) + 1
    if(number%divisor == 0):
        listOfDivisors.append(divisor)
else:
    print(listOfDivisors)

Please enter a positive number:  10

[1, 2, 5]